{% extends '_layout.html' %}
{% load static %}

{% block title %} {{ page.title }} {% endblock %}

{% block page_class %}page-post-detail{% endblock %}


{% block content %}

  <div id="posts" class="posts-expand">

    {% include '_macro/post.html' with blog=blog%}


  </div>
  <!-- 来必力City版安装代码 -->
<!--  <div id="lv-container" data-id="city" data-uid="MTAyMC8zNTM5OC8xMTkzNA==">
	<script type="text/javascript">
   (function(d, s) {
       var j, e = d.getElementsByTagName(s)[0];

       if (typeof LivereTower === 'function') { return; }

       j = d.createElement(s);
       j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
       j.async = true;

       e.parentNode.insertBefore(j, e);
   })(document, 'script');
	</script>
<noscript> 为正常使用来必力评论功能请激活JavaScript</noscript>
</div>  -->


<!-- City版安装代码已完成 -->
{% load i18n %}
    <link href="{% static 'django_comments_xtd/css/bootstrap.min.css' %}" rel="stylesheet">
{% load comments %}
<div id="comments">
  {% get_comment_count for object as comment_count %}
  {% if comment_count %}
  <H5 class="text-center">
    {% blocktrans count comment_count=comment_count %}
    There is {{ comment_count }} comment below.
    {% plural %}
    There are {{ comment_count }} comments below.
    {% endblocktrans %}
  </H5>
  <hr/>
  {% endif %}

  <div class="comment">
    <h4 class="text-center">Post your comment</h4>
    <div class="well">
      {% render_comment_form for object %}
    </div>
  </div>

  {% if comment_count %}
  <hr/>
  <div id="comment-list">
    {% render_comment_list for object %}
  </div>
  {% endif %}
</div>

{% endblock %}


{% block sidebar %}
{% include '_macro/sidebar.html' %}
{% endblock %}


{% block script_extra %}
  {% include '_scripts/pages/post-details.html' %}
{% endblock %}
